<article class="card">
  <div class="card-header">
    <a class="card-header-title" href="/post/{{id}}" target="_blank">{{title}}</a>
    
    <div class="card-header-date">
     by {{user.username}} on {{format_date created_at}}
     |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
  
  <section class="card-body card-body--post">{{content}}</section>
  
</article>