<article class="card">
  <div class="card-header">
    <a class="card-header-title" href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
    <div class="card-header-date">
     by {{user.username}} on {{format_date created_at}}
    </div>
  </div>
  
    <section class="card-body card-body--post">{{content}}</section>
  
</article>